body {
    margin: 0;
    padding: 0;
    background: #111;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 90%;
    max-width: 420px;
    margin: 40px auto;
    padding: 25px;
    background: #1c1c1c;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #2b2b2b;
    border: none;
    border-radius: 8px;
    outline: none;
    color: white;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #ff4444;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e03535;
}
